/* DIV PERFIL */
.perfil-itens {
    position: fixed;
    top: -300px;
    width: 100vw;
    /* align-self: right; */
    z-index: 999;
    transition: .3s;
}

#carrinho:checked ~ .perfil-itens {
    top: 55px;
    transition: .3s;
}