.filtros {
    position: sticky;
    top: 15px;
    height: 340px;
}

.anuncio {
    height: 100px;
    width: 100%;
}

@media(max-width: 995px) {
    .filtros {
        position: relative;
        top: none;
        width: 100%;
    }
}