body {
    margin-top: 10vh;
}

.filtros {
    position: sticky;
    top: 15px;
    height: 340px;
}

.anuncio {
    background-image: url('../img/products/anuncio/alex-perez-ioJBsYQ-pPM-unsplash.jpg');
    background-size: cover;
    background-position: center;
    height: 150px;
    width: 100%;
    color: #fff;
}

@media(max-width: 995px) {
    .filtros {
        position: relative;
        top: none;
        width: 100%;
    }
}