* {
    scroll-behavior: smooth;
    scroll-margin-top: 105px;
}

body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
}

/* header */

.jumbotron {
    background-image: url('../img/junbotrom-bg.jpg');
    background-size: cover;
    background-position: center top;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slide-1 {
    background-image: url('../img/home-slide-products.jpeg');
    background-size: cover;
    background-position: center;
}

.slide-2 {
    background-image: url('../img/pexels-tima-miroshnichenko-6498310.jpg');
    background-size: cover;
    background-position: center;
}

.slide-3 {
    background-image: url('../img/pexels-alena-darmel-7862675.jpg');
    background-size: cover;
    background-position: center;
}

.slide-4 {
    background-image: url('../img/home-slide-experience.jpg');
    background-size: cover;
    background-position: center top;
}

.jumbotron h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.jumbotron p {
    font-size: 1.5rem;
}

.btn-primary {
    background-color: #c72501;
    border: none;
}

.carousel-item {
    min-height: 85vh;
}

.card-benefits {
    height: 300px;
    background: linear-gradient(to top, #8C1F28 0%, transparent 40%), url("https://via.placeholder.com/120x120");
    background-size: cover;
    background-position: center;
}