* {
    scroll-behavior: smooth;
    scroll-margin-top: 100px;
}

body {
    font-family: Arial, sans-serif;
}

/* header */

.search-product {
    padding-right: 35px;
}

.search-icon {
    margin-left: -40px;
}

.jumbotron {
    background-image: url('../img/junbotrom-bg.jpg');
    background-size: cover;
    background-position: center top;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 85vh;
}

.jumbotron h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.jumbotron p {
    font-size: 1.5rem;
}

.btn-primary {
    background-color: #c72501;
    border: none;
}